streamlit
pandas
numpy
scikit-learn
llama-index
llama_index.embeddings.langchain
llama-index-core
langchain-community
langchain
openai
python-dotenv
requests
umap-learn
hdbscan
psycopg2-binary
nltk
plotly
sentence-transformers
matplotlib
lingua
lingua-language-detector
## Insert this install into the readme:  pip install -U langchain-community




